@model Book
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">




    <div class="card" style="width: 18rem;">
  <div class="card-img-top" style="display: flex; flex-direction:row; flex-wrap: wrap;width: 100%; height: 350px">


                                @if (Model.Images.Count()>1)
                                {
                                   @foreach (var images in Model.Images)
                                       {
                                           <img style="border-radius:0; padding:5px; width: 120px; height:120px; margin: auto"   src="~/img/@images.ImageUrl"/> 
                                                }

                                }
                                else
                                {
                                   @foreach (var images in Model.Images)
                                       {
                                           <img style="border-radius:0; width:100%; height:100%; margin: auto" src="~/img/@images.ImageUrl"/> 
                                                } 
                                }
                              </div>
    </div>
  <div class="card-body">
    <h5 class="card-title">@Model.Name</h5>
    <p class="card-text">Price: $@Model.Price</p>
    <ol >
            <b>Authors: </b>
            @foreach (var item in Model.BookAuthors)
           {
               <li>@item.Authors.Name</li>
           }
        </ol>

        <ol >
            <b>Genres:</b>
            @foreach (var item in Model.BookGenres)
           {
               <li>@item.Genres.Name</li>
           }
        </ol>
  <a style="align-self:center; margin: 40px auto;" asp-action="index" class="btn btn-info ">Go Back</a>
  </div>
</div>


