@using RelationshipTask.ViewModels
@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}

 <in>

        <!-- SLIDER START -->

        <section id="slider">
            <div class="owl-carousel slider">
                <div> <img src="~/img/h3-slider-background.jpg" alt=""> </div>
                <div> <img src="~/img/h3-slider-background-2.jpg" alt=""> </div>
                <div> <img src="~/img/h3-slider-background-3.jpg" alt=""> </div>
            </div>
            <div class="container context pl-lg-5 ml-lg-3">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="text">
                            <h1>Send <span>flowers</span> like</h1>
                            <h1>you mean it</h1>
                            <p class="text-black-50 d-none d-sm-block">Where flowers are our inspiration to create lasting memories. Whatever the occasion, our flowers will
                                make it special cursus a sit amet mauris. </p>
                        </div>
                        <div class="img">
                            <img src="~/img/h2-sign-img.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SLIDER END -->

        <!-- PRODUCTS START -->

        <section id="products">
            <div class="container">
                <div class="row pt-5">
                    <div class="col-12 d-flex justify-content-between">
                        <ul class="category-mobile d-md-none list-unstyled">
                            <li>
                                <a href="" class="categories mr-2">Categories</a>
                                <i class="fas fa-caret-down"></i>
                                <ul class="category list-unstyled" style="display: none;">
                                    <li><a href="" data-id="all">All</a></li>
                                    <li><a href="" data-id="popular">Popular</a></li>
                                    <li><a href="" data-id="winter">Winter</a></li>
                                    <li><a href="" data-id="various">Various</a></li>
                                    <li><a href="" data-id="exotic">Exotic</a></li>
                                    <li><a href="" data-id="green">Greens</a></li>
                                    <li><a href="" data-id="cactuse">Cactuses</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="category d-none d-md-flex list-unstyled">
                            <li><a href="" data-id="all">All</a></li>

                            @foreach (var item in Model.Groups)
                        {
                            <li><a href="" data-id="@item.Name.ToLower()">@item.Name</a></li>
                        }
                        </ul>
                        <ul class="list-unstyled">
                            <li>
                                <a href="" class="mr-2">Filter</a>
                                <i class="fas fa-caret-down"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                   
                 @await Component.InvokeAsync("Item")


                </div>
            </div>
        </section>

           <section id="products">
            <div class="container">
                <div class="row pt-5">
                    <div class="col-12 d-flex justify-content-between">
                        <ul class="category-mobile d-md-none list-unstyled">
                            <li>
                                <a href="" class="categories mr-2">Categories</a>
                                <i class="fas fa-caret-down"></i>
                                <ul class="category list-unstyled" style="display: none;">
                                    <li><a href="" data-id="all">All</a></li>
                                    <li><a href="" data-id="popular">Popular</a></li>
                                    <li><a href="" data-id="winter">Winter</a></li>
                                    <li><a href="" data-id="various">Various</a></li>
                                    <li><a href="" data-id="exotic">Exotic</a></li>
                                    <li><a href="" data-id="green">Greens</a></li>
                                    <li><a href="" data-id="cactuse">Cactuses</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="category d-none d-md-flex list-unstyled">
                            <li><a href="" data-id="all">All</a></li>

                            @foreach (var item in Model.Users)
                        {
                            <li><a href="" data-id="@item.Name.ToLower()">@item.Name</a></li>
                        }
                        </ul>
                        <ul class="list-unstyled">
                            <li>
                                <a href="" class="mr-2">Filter</a>
                                <i class="fas fa-caret-down"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                   
                @await Component.InvokeAsync("UserSocial")


                </div>
            </div>
        </section>


in>